<!DOCTYPE html>
<html ng-app="test">
  <head>
    <title>Test</title>
	
	<link rel="stylesheet" type="text/css" href="stylesheets/loading-bar.min.css"/>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
<script src="js/loading-bar.min.js"></script>
<!-- <script src="js/socket.io.js"></script> -->
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>


<body >
<div ng-c class="container" >
<h3 class="text-info">Web RTC Demo</h3>
<br><br>

 <video autoplay></video>


</div>



<script type="text/javascript" src="js/main.js"></script>
</body>
</html>